//
// Profile card
//

.btn-pwd-view {
  margin-top: 1.9rem;
  margin-left: -5rem;
  cursor: pointer;
  // pointer-events: none;
}

.card-profile-image {
  position: relative;

  img {
    max-width: 140px;
    border-radius: 6.375rem !important;
    transform: translate(-50%, -30%);
    position: absolute;
    left: 50%;
    transition: all 0.15s ease;

    &:hover {
      transform: translate(-50%, -33%);
    }
  }
}

.card-profile-stats {
  padding: 1rem 0;

  > div {
    text-align: center;
    margin-right: 1rem;
    padding: 0.875rem;

    &:last-child {
      margin-right: 0;
    }

    .heading {
      font-size: 1.1rem;
      font-weight: bold;
      display: block;
    }
    .description {
      font-size: 0.875rem;
      color: $gray-500;
    }
  }
}

.card-profile-actions {
  padding: 0.875rem;
}
